[Unit]
Description=Run HMS local server auto update checks

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true
Unit=hms-local-auto-update.service

[Install]
WantedBy=timers.target
